:root{

    /*----Fonts----*/

    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;

    /*----Colors----*/

    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --white: #FFFFFF;
    --success:#31d0aa;
    --success-75: rgba(49, 208, 170, 0.75);
    --success-50: rgba(49, 208, 170, 0.5);
    --success-10: rgba(49, 208, 170, 0.1);
    --text: #434455;
    --subtle-text: #8E8F99;

/*----Background-colors----*/

    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 0.7);
}

/*----LOGO----*/

.logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: var(--primary-brand);
}
.logo-dark {
    color: var(--dark);
}
.logo-light {
    color: var(--light);
}
body{
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: var(--text);
}
/*----Header-section----*/

.menu-link{
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
       
        color: var(--dark);
}
.menu-link:hover,
.menu-link:focus{
color: var(--pressed-state);
}
.address{
        font-style: normal;}
.email{
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: var(--text);      
        }
.phone-number{       text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: var(--text);      
 }

.email:is(:hover, :focus){
        color: var(--pressed-state);     
}
.phone-number:is(:hover, :focus){
        color: var(--pressed-state);     
}

/*----Components----*/

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.modal-btn{
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        align-items: center;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: none;
        
        color: var(--white);
        background-color: var(--primary-brand);
}
.modal-btn:hover,
.modal-btn:focus{
background-color: var(--pressed-state);
}
/*----Hero-section----*/
.hero{
background: var(--dark);
}
.hero-title{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--white); 
}

/*----Subtitle-section----*/

.subtitle{
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
        letter-spacing: 0.02em;

        color: var(--dark);
}
.text{
            font-family: var(--primary-font);
            font-weight: 400;
            font-size: 16px;
            line-height: calc(24/16);
            letter-spacing: 0.02em;

            color: var(--text);
}

.title.title-doing{
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    
        color: var(--dark);
}

/*----Team-section----*/

.team-title{
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
    
        color: var(--dark);
}
.team-text{
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24/16);
        text-align: center;
        letter-spacing: 0.02em;

        color: var(--text);
}

/*----Portfolio-btn----*/
.btn{
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.04em;
        cursor: pointer;

        border: 1px solid var(--accent);
        border-radius: 4px;
        color: var(--primary-brand);  
        background: var(--light);
}
.btn:hover, 
.btn:focus{
    color: var(--white);
        background: var(--pressed-state);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

/*----Card-content----*/
.pf-title{
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
        letter-spacing: 0.02em;
    
        color: var(--dark);
}
.pf-text{
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
    
        color: var(--text);
}
/*----Footer-section----*/
.footer{
background-color: var(--dark);
}
.footer-text{
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        color: var(--accent);
}